[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

flask = "*"
tornado = "*"
sockjs-tornado = "*"
Flask-Cors = "*"
sqlalchemy = "*"
psycopg2 = "*"
requests = "*"
pyaml = "*"
google-auth = "*"

[requires]

python_version = "3.6"
